<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hourly_histogram.name %>
</p>

<p>
  <strong>Tweet count:</strong>
  <%= @hourly_histogram.tweet_count %>
</p>

<p>
  <strong>Since:</strong>
  <%= @hourly_histogram.since_id %>
</p>

<p>
  <strong>Histogram:</strong>
  <%= @hourly_histogram.histogram %>
</p>

<p>
  <strong>Metric:</strong>
  <%= @hourly_histogram.metric %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @hourly_histogram.stream %>
</p>

<%= link_to 'Edit', edit_hourly_histogram_path(@hourly_histogram) %> |
<%= link_to 'Back', hourly_histograms_path %>
