<div id="user_profile">
  <br/><br/><br/>
  &nbsp;&nbsp;&nbsp;&nbsp;  <%= image_tag @profile[:profile_image_url_https] %>
  <%= @profile[:name] %> (<%= "@#{@profile[:screen_name]}" %>)
  <br/><br/>
  <em><%= @profile[:description] %></em><br/>
  <br/><br/>
  &nbsp;&nbsp;&nbsp;&nbsp;Tweets: <%= @profile[:statuses_count] %><br/>
  &nbsp;&nbsp;&nbsp;&nbsp;Friends: <%= @profile[:friends_count] %><br/>
  &nbsp;&nbsp;&nbsp;&nbsp;Followers: <%= @profile[:followers_count] %><br/>
  &nbsp;&nbsp;&nbsp;&nbsp;Location: <%= @profile[:location] %><br/>
  <br/><br/>
  Lists: 
  <br/><br/>
    <% @topics[:lists].each do |list_name| %>
    <div class="list_name" id=<%= "#{list_name}_list_entry" %>>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-default btn-xs" id=<%= "delete_#{list_name}_list_entry" %>>-</button>
      <span><%= list_name %></span>
    </div>
    <% end %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-default btn-xs" id="list_name_button">+</button>
    <input type="text" id="list_name_input">
    <br/><br/>
    <%= link_to "Graph", "/twitter_users/graph/#{@twitter_user[:handle]}" %> | 
    <%= link_to "Profile", "https://twitter.com/#{@twitter_user[:handle]}" , target: "_blank" %> |
    <%= link_to "Home", "/friends/index" %>
</div>
