<h1>Listing twitter_users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Handle</th>
      <th>Stats</th>
      <th>Profile</th>
      <th>Twitter</th>
      <th>Topics</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twitter_users.each do |twitter_user| %>
      <tr>
        <td><%= twitter_user.name %></td>
        <td><%= twitter_user.handle %></td>
        <td><%= twitter_user.stats %></td>
        <td><%= twitter_user.profile %></td>
        <td><%= twitter_user.twitter_id %></td>
        <td><%= twitter_user.topics %></td>
        <td><%= link_to 'Show', twitter_user %></td>
        <td><%= link_to 'Edit', edit_twitter_user_path(twitter_user) %></td>
        <td><%= link_to 'Destroy', twitter_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twitter user', new_twitter_user_path %>
