<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @twitter_user.name %>
</p>

<p>
  <strong>Handle:</strong>
  <%= @twitter_user.handle %>
</p>

<p>
  <strong>Stats:</strong>
  <%= @twitter_user.stats %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @twitter_user.profile %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @twitter_user.twitter_id %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @twitter_user.topics %>
</p>

<%= link_to 'Edit', edit_twitter_user_path(@twitter_user) %> |
<%= link_to 'Back', twitter_users_path %>
