<h1>Listing weekly_histograms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tweet count</th>
      <th>Since</th>
      <th>Histogram</th>
      <th>Metric</th>
      <th>Stream</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weekly_histograms.each do |weekly_histogram| %>
      <tr>
        <td><%= weekly_histogram.name %></td>
        <td><%= weekly_histogram.tweet_count %></td>
        <td><%= weekly_histogram.since_id %></td>
        <td><%= weekly_histogram.histogram %></td>
        <td><%= weekly_histogram.metric %></td>
        <td><%= weekly_histogram.stream %></td>
        <td><%= link_to 'Show', weekly_histogram %></td>
        <td><%= link_to 'Edit', edit_weekly_histogram_path(weekly_histogram) %></td>
        <td><%= link_to 'Destroy', weekly_histogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weekly histogram', new_weekly_histogram_path %>
