<h1>Listing batch_histograms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Datetime</th>
      <th>&nbsp;</th>
      <th>Tweet count</th>
      <th>Histogram</th>
      <th>Metric</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batch_histograms.each do |batch_histogram| %>
      <tr>
        <td><%= batch_histogram.name %></td>
        <td><%= batch_histogram.created_at %></td>
	<td>&nbsp;</td>
        <td><%= batch_histogram.tweet_count %></td>
        <td><%= batch_histogram.histogram.size %></td>
        <td><%= batch_histogram.metric %></td>
        <td><%= link_to 'Show', batch_histogram %></td>
        <td><%= link_to 'Edit', edit_batch_histogram_path(batch_histogram) %></td>
        <td><%= link_to 'Destroy', batch_histogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch histogram', new_batch_histogram_path %>
